@model CreateNewDepartmentDto;

    <div class="h-100 d-flex justify-content-center">
    <form id="newDepartmentForm" class="w-50" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="modal-title text-center txt-bolder">@Html.Translate("Thêm phòng ban")</h3>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group"> 
                        <label class="control-label font-size-12 m-0">@Html.Translate("Tên phòng ban")</label>
                        <span class="required_directive">*</span>
                        <input asp-for="Name" class="form-control" placeholder="@Html.Translate("Nhập tên phòng ban")..." />
                        @*<span asp-validation-for="Name" class="text-danger"></span>*@
                    </div>

                    @{
                        var users = ViewBag.SelectUsers as IEnumerable<SelectUserDepartmentViewModel>;
                    }

                    <div class="form-group mt-3">
                        <label class="control-label font-size-12 m-0">@Html.Translate("Trưởng phòng")</label>
                        @if (users?.Any() == true)
                        {
                            <select asp-for="ManagerId" class="form-control" placeholder="@Html.Translate("Tìm kiếm")...">
                                <option value="">@Html.Translate("Chọn trưởng phòng")</option>
                                @foreach (var user in users)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                                @*<option value="">Chọn trưởng phòng</option>
                            <option value="1">Nguyễn Văn A</option>
                            <option value="2">Nguyễn Văn B</option>*@
                            </select>
                        }
                        @*<span asp-validation-for="ManagerId" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <button type="button" class="btn btn_custom_danger w-50 mx-2" data-bs-dismiss="modal">@Html.Translate("Hủy bỏ")</button>
                        <button id="btnConfirmCreateDepartment" type="button" class="btn btn_custom_primary w-50 mx-2">@Html.Translate("Đồng ý")</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>