
<!-- Modal -->
<div class="modal fade" id="AddNewComponentModal" tabindex="-1" role="dialog" aria-labelledby="AddNewComponentModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body pb-0">
                <h4 class="modal_title">@Html.Translate("Thêm linh kiện")</h4>                
                <form id="AddNewComponent_Form" class="form-horizontal">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Mã linh kiện") <span style="color:red;">*</span></label>
                            <input id="Add_Components_ComponentCode" name="Add_Components_ComponentCode" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập mã linh kiện")..." />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Tên linh kiện") <span style="color:red;">*</span></label>
                            <input id="Add_Components_ComponentName" name="Add_Components_ComponentName" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập tên linh kiện")..." />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Mã nhà cung cấp") <span style="color:red;">*</span></label>
                            <input id="Add_Components_SupplierCode" name="Add_Components_SupplierCode" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập mã nhà cung cấp")..." />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Tên nhà cung cấp") <span style="color:red;">*</span></label>
                            <input id="Add_Components_SupplierName" name="Add_Components_SupplierName" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập tên nhà cung cấp")..." />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Tên nhà cung cấp rút gọn") <span style="color:red;">*</span></label>
                            <input id="Add_Components_ShortSupplierName" name="Add_Components_ShortSupplierName" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập tên nhà cung cấp rút gọn")..." />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Vị trí cố định") <span style="color:red;">*</span></label>
                            <input id="Add_Components_PositionCode" name="Add_Components_PositionCode" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập vị trí cố định")..." />
                            <span id="Add_Components_PositionCode-error" class="error-notification" />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Số lượng tồn kho (nhỏ nhất)") <span style="color:red;">*</span></label>
                            <input id="Add_Components_InventoryMinQty" name="Add_Components_InventoryMinQty" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập số lượng tồn kho nhỏ nhất")..." />
                            <span id="Add_Components_InventoryMinQty-error" class="error-notification" />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Tồn kho thực tế") <span style="color:red;">*</span></label>
                            <input id="Add_Components_InventoryQty" name="Add_Components_InventoryQty" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập số lượng tồn kho thực tế")..." />
                            <span id="Add_Components_InventoryQty-error" class="error-notification" />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Số lượng tồn kho (lớn nhất)") <span style="color:red;">*</span></label>
                            <input id="Add_Components_InventoryMaxQty" name="Add_Components_InventoryMaxQty" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập số lượng tồn kho lớn nhất")..." />
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Thông tin linh kiện")</label>
                            <input id="Add_Components_ComponentInfo" name="Add_Components_ComponentInfo" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập thông tin linh kiện")..." />
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 title-input-add-component ip-form-update box-container mb-3">
                            <label class="text_label">@Html.Translate("Ghi chú")</label>
                            <input id="Add_Components_Note" name="Add_Components_Note" type="text" class="form-control background-color-grey" placeholder="@Html.Translate("Nhập ghi chú")..." />
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <div class="container-fluid d-flex justify-content-between px-0">
                    <button type="button" id="button_Delete_AddNewComponent" class="btn btn-light colorE60000 w-50 mx-2" data-bs-dismiss="modal">@Html.Translate("Hủy bỏ")</button>
                    <button type="submit" id="button_Apply_AddNewComponent" class="btn btn-primary w-50 mx-2">@Html.Translate("Đồng ý")</button>
                </div>
            </div>
        </div>
    </div>
</div>
